.index__container
{
    margin: 30px;
}

.index__header
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.index__article
{

}

.index__article__main-img
{

}

.index__article__announce-block
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.index__article__announce
{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
}

.index__article__announce p
{
    margin-right: 30px;
}