html {
    background-color: rgb(250, 255, 250);
    /*width: 1000px;*/
}

.index__container
{
    display: block;
    width: 1000px;
    margin: 0px auto;
}

.index__header
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.index__article
{

}

.index__article__main-img
{
    width: 1000px;
    height: 400px;
    margin: 30px auto;
}

.index__article__main-img img
{
    position: relative;
    width: 100%;
    height: 100%;   
}

.index__article__announce-block
{
    width: 1000px;
    height: auto;
    margin: 30px 30px 30px 0;
    border-style: outset;
    
}

.index__article__announce
{
    display: inline-block;
    width: 100%;
    margin: 30px 30px 30px 0;   
}

.index__article__announce__title
{
    display: inline-block;
    border-radius: 999em;
    background-color: rgb(118, 223, 118);
    margin: 0 0 0 30px;
    padding: 30px;
    text-align: center;
    line-height: 30px;
}

.index__article__announce__content
{
    display: inline-block;
    margin: 0 30px;
    width: 60%;
}

.index__article__announce__date
{
    display: inline-block;
    text-align: right;
    margin: 0 30px;
    width: 10%;
}

.index__article__announce__separete-line
{
    width: 1000px;
    height: 1px;
    background-color: black;
}